<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
</head>
<body>
  <h1 style="color: white; background-color:blue; padding: 20px;">User Login</h1>

  <form method="POST" action="/login">
    <div>
      <label for="email">Email:</label>
      <input placeholder="email" style="padding: 4px; border-radius: 10px; border:none" type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input placeholder="Password" style="padding: 4px; border-radius: 10px; border:none" type="password" id="password" name="password" required>
    </div>
    <button style="padding: 4px; color: white; background-color: aqua; border:none" type="submit">Login</button>
  </form>
</body>
</html>
